$c-success: #46B450;
$c-danger: #DC3232;

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.wp-admin.toplevel_page_tec_salesforce_integrator {
  .notice {
    margin: 20px 0 50px 0;
  }
  .status{
    margin-top: 30px;
    color: $c-danger;
    &--connected {
      color: $c-success;
    }
    p {
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
    }
  }
  form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    label {
      margin-top: 20px;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
    }
    input {
      max-width: 400px;
      margin-top: 5px;
      &[type="submit"].loading{
        animation: pulse 1s infinite;
      }
    }
    .form-info {
      font-size: 14px;
      line-height: 24px;
      margin: 0;
      &--small {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}

.wp-admin.edit-php.admin-bar.post-type-lzi-job{
  .button-lzi-fetch{
    background-color: #007450;
    border-color: #007450;
    margin: 20px 0;
  }
}